node-red-flow.example.json
[
  {
    "id": "flow_proxmox_logdump",
    "type": "tab",
    "label": "proxmox-logdump",
    "disabled": false,
    "info": "Import this flow into Node-RED, set the required environment variables, and deploy. Required environment variables: PROXMOX_SHARED_TOKEN, FORGEJO_BASE_URL, FORGEJO_OWNER, FORGEJO_REPO, FORGEJO_API_TOKEN. Optional: FORGEJO_BRANCH."
  },
  {
    "id": "http_in_pve_webhook",
    "type": "http in",
    "z": "flow_proxmox_logdump",
    "name": "PVE webhook",
    "url": "/webhook/proxmox/pve",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [["fn_prepare_notification"]]
  },
  {
    "id": "http_in_pbs_webhook",
    "type": "http in",
    "z": "flow_proxmox_logdump",
    "name": "PBS webhook",
    "url": "/webhook/proxmox/pbs",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 160,
    "wires": [["fn_prepare_notification"]]
  },
  {
    "id": "http_in_pve_tasklog",
    "type": "http in",
    "z": "flow_proxmox_logdump",
    "name": "PVE task log ingest",
    "url": "/ingest/tasklog/pve",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 280,
    "wires": [["fn_prepare_tasklog"]]
  },
  {
    "id": "http_in_pbs_tasklog",
    "type": "http in",
    "z": "flow_proxmox_logdump",
    "name": "PBS task log ingest",
    "url": "/ingest/tasklog/pbs",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 340,
    "wires": [["fn_prepare_tasklog"]]
  },
  {
    "id": "fn_prepare_notification",
    "type": "function",
    "z": "flow_proxmox_logdump",
    "name": "Prepare notification archive",
    "func": "const sharedToken = env.get('PROXMOX_SHARED_TOKEN') || '__SET_PROXMOX_SHARED_TOKEN__';\nconst forgejoBase = (env.get('FORGEJO_BASE_URL') || '__SET_FORGEJO_BASE_URL__').replace(/\\/+$/, '');\nconst forgejoOwner = env.get('FORGEJO_OWNER') || '__SET_FORGEJO_OWNER__';\nconst forgejoRepo = env.get('FORGEJO_REPO') || '__SET_FORGEJO_REPO__';\nconst forgejoBranch = env.get('FORGEJO_BRANCH') || 'main';\nconst forgejoApiToken = env.get('FORGEJO_API_TOKEN') || '__SET_FORGEJO_API_TOKEN__';\n\nconst missing = [sharedToken, forgejoBase, forgejoOwner, forgejoRepo, forgejoApiToken].filter(v => String(v).startsWith('__SET_'));\nif (missing.length) {\n    msg.statusCode = 500;\n    msg.payload = { ok: false, error: 'relay not configured', missing: ['PROXMOX_SHARED_TOKEN', 'FORGEJO_BASE_URL', 'FORGEJO_OWNER', 'FORGEJO_REPO', 'FORGEJO_API_TOKEN'] };\n    return [null, msg];\n}\n\nconst incoming = (msg.req && msg.req.headers && msg.req.headers['x-proxmox-token']) || '';\nif (incoming !== sharedToken) {\n    msg.statusCode = 401;\n    msg.payload = { ok: false, error: 'unauthorized' };\n    return [null, msg];\n}\n\nlet body = msg.payload;\nif (typeof body === 'string') {\n    try {\n        body = JSON.parse(body);\n    } catch (err) {\n        msg.statusCode = 400;\n        msg.payload = { ok: false, error: 'invalid json', detail: err.message };\n        return [null, msg];\n    }\n}\nif (!body || typeof body !== 'object') {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'invalid body' };\n    return [null, msg];\n}\n\nconst source = body.source || (((msg.req && msg.req.path) || '').includes('/pbs') ? 'pbs' : 'pve');\nconst tsSeconds = Number(body.timestamp || Math.floor(Date.now() / 1000));\nconst ts = new Date(tsSeconds * 1000);\nif (Number.isNaN(ts.getTime())) {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'invalid timestamp' };\n    return [null, msg];\n}\n\nconst pad = v => String(v).padStart(2, '0');\nconst yyyy = ts.getUTCFullYear();\nconst mm = pad(ts.getUTCMonth() + 1);\nconst dd = pad(ts.getUTCDate());\nconst hh = pad(ts.getUTCHours());\nconst mi = pad(ts.getUTCMinutes());\nconst ss = pad(ts.getUTCSeconds());\nconst stamp = `${yyyy}${mm}${dd}T${hh}${mi}${ss}Z`;\n\nconst safe = (value, fallback) => {\n    const cleaned = String(value || fallback || 'unknown')\n        .replace(/[^a-zA-Z0-9._-]+/g, '-')\n        .replace(/^-+|-+$/g, '')\n        .slice(0, 80);\n    return cleaned || fallback || 'unknown';\n};\n\nconst fields = body.fields || {};\nconst host = safe(fields.hostname || fields.node || fields.datastore || 'unknown-host', 'unknown-host');\nconst kind = safe(fields.type || fields['job-type'] || fields['job-id'] || 'notification', 'notification');\nconst severity = safe(body.severity || 'unknown', 'unknown');\nconst nonce = Math.random().toString(16).slice(2, 8);\nconst repoPath = `events/${source}/${yyyy}/${mm}/${dd}/${stamp}_${host}_${kind}_${severity}_${nonce}.json`;\n\nconst archive = {\n    received_at: new Date().toISOString(),\n    source,\n    title: body.title || '',\n    message: body.message || '',\n    severity: body.severity || 'unknown',\n    timestamp: body.timestamp || null,\n    fields\n};\n\nmsg._archiveKind = 'notification';\nmsg._archivePath = repoPath;\nmsg.method = 'POST';\nmsg.url = `${forgejoBase}/api/v1/repos/${forgejoOwner}/${forgejoRepo}/contents/${repoPath}`;\nmsg.headers = {\n    Authorization: `token ${forgejoApiToken}`,\n    'Content-Type': 'application/json',\n    Accept: 'application/json'\n};\nmsg.payload = {\n    branch: forgejoBranch,\n    message: `Archive Proxmox ${source.toUpperCase()} notification ${stamp}`,\n    content: Buffer.from(JSON.stringify(archive, null, 2) + '\\n').toString('base64')\n};\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 130,
    "wires": [["delay_serialize_writes"], ["http_response_reject"]]
  },
  {
    "id": "fn_prepare_tasklog",
    "type": "function",
    "z": "flow_proxmox_logdump",
    "name": "Prepare task log archive",
    "func": "const sharedToken = env.get('PROXMOX_SHARED_TOKEN') || '__SET_PROXMOX_SHARED_TOKEN__';\nconst forgejoBase = (env.get('FORGEJO_BASE_URL') || '__SET_FORGEJO_BASE_URL__').replace(/\\/+$/, '');\nconst forgejoOwner = env.get('FORGEJO_OWNER') || '__SET_FORGEJO_OWNER__';\nconst forgejoRepo = env.get('FORGEJO_REPO') || '__SET_FORGEJO_REPO__';\nconst forgejoBranch = env.get('FORGEJO_BRANCH') || 'main';\nconst forgejoApiToken = env.get('FORGEJO_API_TOKEN') || '__SET_FORGEJO_API_TOKEN__';\n\nconst missing = [sharedToken, forgejoBase, forgejoOwner, forgejoRepo, forgejoApiToken].filter(v => String(v).startsWith('__SET_'));\nif (missing.length) {\n    msg.statusCode = 500;\n    msg.payload = { ok: false, error: 'relay not configured', missing: ['PROXMOX_SHARED_TOKEN', 'FORGEJO_BASE_URL', 'FORGEJO_OWNER', 'FORGEJO_REPO', 'FORGEJO_API_TOKEN'] };\n    return [null, msg];\n}\n\nconst incoming = (msg.req && msg.req.headers && msg.req.headers['x-proxmox-token']) || '';\nif (incoming !== sharedToken) {\n    msg.statusCode = 401;\n    msg.payload = { ok: false, error: 'unauthorized' };\n    return [null, msg];\n}\n\nlet body = msg.payload;\nif (typeof body === 'string') {\n    try {\n        body = JSON.parse(body);\n    } catch (err) {\n        msg.statusCode = 400;\n        msg.payload = { ok: false, error: 'invalid json', detail: err.message };\n        return [null, msg];\n    }\n}\nif (!body || typeof body !== 'object') {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'invalid body' };\n    return [null, msg];\n}\n\nconst reqPath = (msg.req && msg.req.path) || '';\nconst source = body.source || (reqPath.includes('/pbs') ? 'pbs' : 'pve');\nconst logText = body.log_text || body.log || body.payload;\nif (typeof logText !== 'string' || !logText.trim()) {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'missing log_text' };\n    return [null, msg];\n}\n\nconst safe = (value, fallback) => {\n    const cleaned = String(value || fallback || 'unknown')\n        .replace(/[^a-zA-Z0-9._:@-]+/g, '-')\n        .replace(/^-+|-+$/g, '')\n        .slice(0, 120);\n    return cleaned || fallback || 'unknown';\n};\n\nconst taskObj = body.task && typeof body.task === 'object' ? body.task : {};\nconst upid = safe(body.upid || body.task_id || taskObj.upid || taskObj.id || 'unknown-upid', 'unknown-upid');\nconst nodeName = safe(body.node || body.hostname || taskObj.node || `${source}-node`, `${source}-node`);\nconst taskType = safe(body.task_type || body.worker_type || taskObj.worker_type || body.kind || 'task', 'task');\nconst status = safe(body.status || body.exitstatus || taskObj.status || 'unknown', 'unknown');\n\nconst rawTs = Number(body.ended_at || body.endtime || body.end_time || body.timestamp || body.started_at || body.starttime || body.start_time || taskObj.endtime || taskObj.starttime || Math.floor(Date.now() / 1000));\nconst ts = new Date(rawTs * 1000);\nif (Number.isNaN(ts.getTime())) {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'invalid timestamp' };\n    return [null, msg];\n}\n\nconst pad = v => String(v).padStart(2, '0');\nconst yyyy = ts.getUTCFullYear();\nconst mm = pad(ts.getUTCMonth() + 1);\nconst dd = pad(ts.getUTCDate());\nconst hh = pad(ts.getUTCHours());\nconst mi = pad(ts.getUTCMinutes());\nconst ss = pad(ts.getUTCSeconds());\nconst stamp = `${yyyy}${mm}${dd}T${hh}${mi}${ss}Z`;\nconst repoPath = `task-logs/${source}/${yyyy}/${mm}/${dd}/${stamp}_${nodeName}_${taskType}_${status}_${upid}.log`;\n\nmsg._archiveKind = 'tasklog';\nmsg._archivePath = repoPath;\nmsg._archiveUpid = upid;\nmsg.method = 'POST';\nmsg.url = `${forgejoBase}/api/v1/repos/${forgejoOwner}/${forgejoRepo}/contents/${repoPath}`;\nmsg.headers = {\n    Authorization: `token ${forgejoApiToken}`,\n    'Content-Type': 'application/json',\n    Accept: 'application/json'\n};\nmsg.payload = {\n    branch: forgejoBranch,\n    message: `Archive Proxmox ${source.toUpperCase()} task log ${stamp} ${upid}`,\n    content: Buffer.from(logText.endsWith('\\n') ? logText : (logText + '\\n')).toString('base64')\n};\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 310,
    "wires": [["delay_serialize_writes"], ["http_response_reject"]]
  },
  {
    "id": "delay_serialize_writes",
    "type": "delay",
    "z": "flow_proxmox_logdump",
    "name": "Serialize Forgejo writes",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 760,
    "y": 220,
    "wires": [["http_request_forgejo"]]
  },
  {
    "id": "http_request_forgejo",
    "type": "http request",
    "z": "flow_proxmox_logdump",
    "name": "Create archive in Forgejo",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1030,
    "y": 220,
    "wires": [["fn_build_response"]]
  },
  {
    "id": "fn_build_response",
    "type": "function",
    "z": "flow_proxmox_logdump",
    "name": "Build archive response",
    "func": "const kind = msg._archiveKind || 'archive';\nif (msg.statusCode >= 200 && msg.statusCode < 300) {\n    const response = msg.payload || {};\n    msg.payload = {\n        ok: true,\n        kind,\n        path: msg._archivePath || null,\n        upid: msg._archiveUpid || null,\n        forgejo_status: msg.statusCode,\n        commit_url: response.commit && response.commit.html_url ? response.commit.html_url : null\n    };\n    return [msg, null];\n}\n\nconst forgejoStatus = msg.statusCode;\nlet err = 'forgejo write failed';\nif (msg.payload && typeof msg.payload === 'object' && msg.payload.message) {\n    err = msg.payload.message;\n}\nif (forgejoStatus === 422 && String(err).toLowerCase().includes('already exists')) {\n    msg.statusCode = 200;\n    msg.payload = {\n        ok: true,\n        existed: true,\n        kind,\n        path: msg._archivePath || null,\n        upid: msg._archiveUpid || null,\n        forgejo_status: forgejoStatus\n    };\n    return [msg, null];\n}\nmsg.statusCode = 502;\nmsg.payload = {\n    ok: false,\n    kind,\n    error: err,\n    path: msg._archivePath || null,\n    upid: msg._archiveUpid || null,\n    forgejo_status: forgejoStatus || null,\n    response: msg.payload\n};\nreturn [null, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 220,
    "wires": [["http_response_result"], ["debug_archive_errors", "http_response_result"]]
  },
  {
    "id": "http_response_reject",
    "type": "http response",
    "z": "flow_proxmox_logdump",
    "name": "Reject invalid request",
    "statusCode": "",
    "headers": {},
    "x": 770,
    "y": 420,
    "wires": []
  },
  {
    "id": "http_response_result",
    "type": "http response",
    "z": "flow_proxmox_logdump",
    "name": "Return archive result",
    "statusCode": "",
    "headers": {},
    "x": 1540,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug_archive_errors",
    "type": "debug",
    "z": "flow_proxmox_logdump",
    "name": "Archive errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1520,
    "y": 280,
    "wires": []
  }
]
